<h1>Games Controller, index view</h1>

<p>games controller landing page</p>

Goto:
<a asp-controller="games" asp-action="index">Index</a>

<a asp-controller="games" asp-action="tickets">games</a>
<a asp-controller="games" asp-action="tickets">payments</a>