<h1>Games controller, tickets view</h1>

<p>we provide following tickets</p>

<ol>
    <li>ticket per game</li>
    <li>ticket per hour</li>
</ol>

Goto:
<a asp-controller="games" asp-action="tickets">games</a> |
<a asp-controller="games" asp-action="tickets">payments</a>